/MetodoBurbuja/build/
/GestorTareas/nbproject/private/
/GestorTareas/build/
/BuscaMinas/nbproject/private/
/MiEditor/nbproject/private/
/MiEditor/build/
 HEAD
/PruebasFormulario/nbproject/private/
/PruebasFormulario/build/

/Agenda/nbproject/private/
/Agenda/build/
/Agenda/dist/
 d52c00ed2ee3bba741bdb0c3b04399b5807dd1cf
